In [33]:
import os
import numpy as np
import pandas as pd
import scipy.io as sio
import time
#from numba import jit, autojit

<h1> Loading data

In [34]:
pathhome = os.getcwd()
layer_name = 'fc6'
pathcnn = pathhome+'\\outcome\\imagenet_vgg_f\\'+layer_name

<h2> Loading csv files with photo ids/business ids and sample submussion

In [35]:
# Business ids and photo ids train data set
df_train_photo_ids = pd.read_csv('train_photo_to_biz_ids.csv')
# Business ids and photo ids test data set
df_test_photo_ids = pd.read_csv('test_photo_to_biz.csv')

<h2> Loading CNNcodes from images

In [36]:
def getCNNcodes(matfile, path):
    data = sio.loadmat(path+'\\'+matfile)
    CNNcodes = []
    photoids = []
    for d in data['data']:
        photoid = (d[0][0][0][0][0][:-4])
        photoids.append(photoid)
        CNNcode = np.array(d[0][0][0][1].flatten())
        CNNcodes.append(CNNcode)
    return photoids, CNNcodes

In [37]:
def duplicate_images(CNNcodes):    
    seen = set()
    dubs = []
    for c in CNNcodes:
        cstr = np.array(c).mean()
        if cstr not in seen:
            seen.add(cstr)
        else:
            dubs.append(cstr)
        del cstr
    CNNcodes_nodubs = [c for c in CNNcodes if np.array(c).mean() not in dubs]
    return np.array(CNNcodes_nodubs)

<h3> Train data

In [46]:
list_chunks = np.array_split(os.listdir(pathcnn+"\\train"),50)

In [56]:
def meanCNN_for_chunk(chunk, df_photo_ids, path):
    df_CNNcodes =pd.DataFrame({'photo_id': [],'CNNcode': []})
    for f in chunk:
        photoids, CNNcodes = getCNNcodes(f,path)
        df = pd.DataFrame({'photo_id': photoids,'CNNcode': CNNcodes})
        df_CNNcodes =pd.concat([df_CNNcodes, df])

    df_CNNcodes = df_CNNcodes.convert_objects(convert_numeric = True)
    
    df_photo_biz_codes = pd.merge(df_photo_ids, df_CNNcodes, on='photo_id')
    grouped = df_photo_biz_codes.groupby('business_id')
    df = grouped.aggregate(lambda x: list(x))
    df.drop('photo_id', axis=1, inplace=True)
    
    df["meanCNN"] = ""
    df["num_of_instances"] = ""

    for i,r in df.iterrows():
        CNNcode = np.array(r['CNNcode'])
        #CNNcode = duplicate_images(CNNcodes)
        meanCNN = CNNcode.mean(axis=0)
        df.loc[i, 'meanCNN'] = meanCNN
        df.loc[i, 'num_of_instances'] = len(np.array(r['CNNcode']))
        
    df.drop('CNNcode', axis=1, inplace = True)
    
    return df

In [186]:
def testrow(r):
    ninst = np.sum(np.array(r['num_of_instances']))
    inst = [float(x)/ninst for x in r['num_of_instances']]
    CNNcodes = r['meanCNN']
    C = map(lambda x,y: x*y, CNNcodes, inst)
    C = np.array(C).sum(axis = 0)
    r['num_of_instances'] = ninst
    r['meanCNN'] = C
    return r

def mergerunningmean(df1, df2):
    df12 = pd.concat([df1, df2], axis =0)
    grouped = df12.groupby('business_id')
    df12g = grouped.aggregate(lambda x: list(x))
    df12g.apply(testrow, axis=1)
    return df12g

In [ ]:
df1

In [194]:
i =1
flag = 0
for chunk in list_chunks:
    print(i)
    df = meanCNN_for_chunk(chunk, df_train_photo_ids, pathcnn+"\\train")
    df.reset_index(inplace=True)
    if flag == 1:
        df_train = mergerunningmean(df_train, df) 
    else:
        df_train = df 
        flag = 1
        
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [198]:
i =1
flag = 0
df_list = []
for chunk in list_chunks:
    print(i)
    df = meanCNN_for_chunk(chunk, df_train_photo_ids, pathcnn+"\\train")
    df.reset_index(inplace=True)
    df_list.append(df)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [203]:
df_train_photo_ids.groupby('business_id').aggregate('count')

             photo_id
business_id
3                  43
4                  83
5                 410
6                  84
7                  21
8                  34
9                  75
12                 22
13                 61
14                 47
16                152
18                  8
19                 43
21                 66
23                 90
24                 40
26                 40
28                 16
29                 80
32                583
35                669
36                 66
37                 60
38                129
39                127
41                246
48                 14
50                 58
51                 26
54                 21
...               ...
3932              304
3936               17
3937              494
3938              213
3941               79
3943               22
3945               90
3946               27
3947               36
3952               48
3954               41
3955               59
3956              103
3961               19
3965               87
3971               99
3973               66
3979              137
3980              150
3982               60
3983               42
3986               14
3987               81
3988              132
3989               27
3992               30
3994               20
3998               63
3999              183
4000               54

[2000 rows x 1 columns]

In [204]:
df_all.head(5)

,business_id,meanCNN,num_of_instances
0,4,"[0.0, 5.98449, 0.0, 0.0, 17.2075, 0.0, 0.0, 0....",1
1,5,"[2.7932, 4.46373, 3.10721, 6.41132, 2.67737, 2...",6
2,6,"[2.15894, 2.07827, 8.18354, 8.61245, 8.89241, ...",3
3,7,"[0.0, 0.0, 0.0, 0.0, 8.38736, 0.0, 0.0, 0.0, 0...",1
4,8,"[26.8714, 0.0, 4.56455, 0.0, 0.0, 2.24279, 10....",1

In [205]:
df_all = pd.concat(df_list,axis=0)
grouped = df_all.groupby('business_id')
df12g = grouped.aggregate(lambda x: list(x))
df12g.apply(testrow, axis=1)

,meanCNN,num_of_instances
business_id,,
3,"[3.97935, 3.8044, 0.0490416, 7.39866, 11.3186,...",43
4,"[7.8422, 6.29956, 2.25657, 3.65727, 5.91263, 2...",84
5,"[5.13244, 6.49476, 1.83091, 6.13681, 14.4489, ...",410
6,"[8.39003, 7.00344, 4.83912, 4.78227, 9.12754, ...",84
7,"[5.11108, 5.19684, 0.0, 8.02328, 11.249, 5.484...",21
8,"[3.62037, 3.82908, 2.80725, 5.07891, 14.2267, ...",34
9,"[10.7781, 4.57718, 0.167967, 8.3709, 3.06552, ...",75
12,"[10.474, 7.42825, 3.17585, 7.63761, 14.2271, 4...",22
13,"[7.18588, 6.76315, 1.89236, 4.70331, 9.75041, ...",61
14,"[9.35736, 5.8623, 1.83665, 7.39792, 13.952, 6....",47
16,"[10.3959, 5.44066, 1.35202, 4.99774, 13.5782, ...",152
18,"[1.76979, 6.39887, 0.0, 4.58364, 6.66926, 6.83...",8
19,"[4.5185, 6.19089, 1.52884, 4.83956, 11.4357, 2...",43
21,"[15.286, 6.50212, 1.53718, 7.81934, 6.557, 6.0...",67
23,"[6.37844, 5.92186, 1.13003, 5.68404, 12.7651, ...",90
24,"[4.05813, 9.21622, 3.39414, 7.90789, 15.7689, ...",40
26,"[7.90749, 6.41167, 5.51902, 4.84905, 12.86, 6....",41
28,"[9.77092, 2.93277, 1.05245, 6.18123, 1.92269, ...",16
29,"[6.78753, 4.9116, 1.07964, 5.61421, 6.38113, 2...",80
32,"[8.14851, 6.15064, 1.69053, 4.51184, 5.28005, ...",585
35,"[7.40439, 6.37472, 3.68629, 4.83577, 6.33033, ...",674
36,"[6.71624, 6.81469, 1.71118, 5.75769, 7.32566, ...",66
37,"[4.97409, 5.00488, 0.823869, 7.1418, 12.9787, ...",60
38,"[19.0138, 5.15885, 4.87695, 5.29425, 7.11981, ...",129
39,"[7.27164, 4.62845, 1.8359, 8.72366, 6.74136, 1...",127
41,"[10.2783, 8.96906, 1.1064, 6.10853, 6.86584, 3...",248
48,"[1.72027, 4.33149, 0.877828, 7.09047, 4.08169,...",14
50,"[6.31102, 4.67206, 2.26862, 5.46212, 8.64071, ...",58
51,"[3.27124, 5.87339, 4.59593, 7.05068, 6.88009, ...",26
54,"[7.58793, 4.19305, 0.744159, 8.18444, 11.8844,...",21
...,...,...
3932,"[9.98244, 5.1936, 2.90081, 6.83202, 6.45116, 8...",305
3936,"[1.91054, 5.28823, 1.11279, 3.13973, 9.42693, ...",17
3937,"[7.41824, 5.66454, 2.09625, 5.47087, 11.0073, ...",496
3938,"[7.78821, 7.84099, 3.11567, 4.64, 14.0892, 2.1...",213
3941,"[7.33036, 5.93273, 0.446167, 4.45384, 10.9834,...",80
3943,"[7.65718, 12.2877, 0.0, 9.06083, 7.48539, 4.68...",22
3945,"[8.54304, 7.07963, 0.870313, 4.81018, 4.99103,...",90
3946,"[4.88228, 6.16901, 0.644896, 5.99773, 6.07881,...",27
3947,"[4.20183, 5.20159, 0.751429, 8.69318, 7.73993,...",36
3952,"[11.8124, 6.80746, 2.53361, 7.63212, 10.0545, ...",48
3954,"[5.99563, 11.7026, 1.00231, 4.33817, 12.4542, ...",41
3955,"[6.32549, 7.58164, 6.16431, 4.84419, 8.22486, ...",59
3956,"[3.50052, 7.59328, 1.58097, 6.66595, 13.0418, ...",104
3961,"[5.08193, 6.78916, 4.86409, 7.79811, 6.67077, ...",19
3965,"[9.71397, 4.65636, 7.39972, 7.18323, 8.8167, 5...",88
3971,"[11.4064, 9.18595, 1.71289, 5.99896, 14.5832, ...",100
3973,"[6.46357, 4.97084, 0.757268, 9.75742, 6.29749,...",66
3979,"[7.22665, 5.26848, 2.46104, 4.62766, 13.3426, ...",137
3980,"[7.64353, 7.84562, 1.77038, 5.82111, 8.32238, ...",150
3982,"[6.39433, 6.06368, 2.80491, 7.22291, 9.3419, 4...",60
3983,"[8.81213, 4.74435, 2.03335, 7.4925, 14.7472, 1...",42
3986,"[7.99102, 8.9409, 4.46188, 4.6355, 3.41716, 6....",14
3987,"[4.09049, 9.04081, 2.54507, 9.12463, 16.8768, ...",81
3988,"[8.29414, 8.20411, 1.98037, 7.00524, 11.6854, ...",132
3989,"[4.33079, 4.78979, 3.38061, 5.58317, 13.031, 0...",27
3992,"[9.93265, 6.36369, 0.98206, 3.99485, 10.8711, ...",30
3994,"[10.9373, 4.58855, 0.49492, 6.32287, 14.1633, ...",20
3998,"[7.4748, 6.10356, 3.98847, 4.97647, 9.12031, 3...",63
3999,"[6.1024, 4.29962, 0.956911, 5.59081, 9.2269, 3...",183
4000,"[5.65842, 5.98069, 0.79681, 10.8756, 11.7547, ...",54

In [ ]:
df12g.head(15)

In [ ]:
name = 'df_train_'+layer_name
df12g.to_pickle(name)

In [ ]:
df_CNNcodes_train =pd.DataFrame({'photo_id': [],'CNNcode': []})

# Extracting CNNcodes and photoids for train images
for f in os.listdir(pathcnn+"\\train"):
    photoids, CNNcodes = getCNNcodes(f,pathcnn+"\\train")
    df = pd.DataFrame({'photo_id': photoids,'CNNcode': CNNcodes})
    df_CNNcodes_train =pd.concat([df_CNNcodes_train, df])
    
df_CNNcodes_train = df_CNNcodes_train.convert_objects(convert_numeric = True)

In [ ]:
df_train_photo_biz_codes = pd.merge(df_train_photo_ids, df_CNNcodes_train, on='photo_id')
del df_CNNcodes_train

In [ ]:
grouped = df_train_photo_biz_codes.groupby('business_id')
df = grouped.aggregate(lambda x: list(x))
df.drop('photo_id', axis=1, inplace=True)

In [ ]:
%%time
df["meanCNN"] = ""
    
for i,r in df.head(100).iterrows():
    CNNcode = np.array(r['CNNcode'])
    #CNNcode = duplicate_images(CNNcodes)
    meanCNN = CNNcode.mean(axis=0)
    df.loc[i, 'meanCNN'] = meanCNN

In [ ]:
%%time
df["meanCNN"] = ""
    
for i,r in df.iterrows():
    CNNcode = np.array(r['CNNcode'])
    #CNNcode = duplicate_images(CNNcodes)
    meanCNN = CNNcode.mean(axis=0)
    df.loc[i, 'meanCNN'] = meanCNN
        
#df.drop('CNNcode', axis=1, inplace = True)

In [ ]:
df.drop('CNNcode', axis=1, inplace = True)

In [ ]:
name = 'df_train_'+layer_name
df.to_pickle(name)

<h3> Test data

In [ ]:
df_CNNcodes_test =pd.DataFrame({'photo_id': [],'CNNcode': []})

# Extracting CNNcodes and photoids for test images
for f in os.listdir(pathcnn+"\\test"):
    photoids, CNNcodes = getCNNcodes(f, pathcnn+"\\test")
    df = pd.DataFrame({'photo_id': photoids,'CNNcode': CNNcodes})
    df_CNNcodes_test =pd.concat([df_CNNcodes_test, df])
    
df_CNNcodes_test = df_CNNcodes_test.convert_objects(convert_numeric = True)

In [ ]:
df_CNNcodes_test.head(5)

In [ ]:
df_test_photo_biz_codes = pd.merge(df_test_photo_ids, df_CNNcodes_test, on='photo_id')
del df_CNNcodes_test

In [ ]:
grouped = df_test_photo_biz_codes.groupby('business_id')
df = grouped.aggregate(lambda x: list(x))
df.drop('photo_id', axis=1, inplace=True)

In [ ]:
df.head(5)

In [ ]:
%%time
df["meanCNN"] = ""
    
for i,r in df.head(100).iterrows():
    CNNcode = np.array(r['CNNcode'])
    #CNNcode = duplicate_images(CNNcode)
    meanCNN = CNNcode.mean(axis=0)
    df.loc[i, 'meanCNN'] = meanCNN

In [ ]:
%%time
df["meanCNN"] = ""
    
for i,r in df.iterrows():
    CNNcode = np.array(r['CNNcode'])
    #CNNcode = duplicate_images(CNNcodes)
    meanCNN = CNNcode.mean(axis=0)
    df.loc[i, 'meanCNN'] = meanCNN
        
df.drop('CNNcode', axis=1, inplace = True)

In [ ]:
df.head(5)

In [ ]:
name = 'df_test_'+layer_name
df.to_pickle(name)